*{
    margin: 0;
    padding: 0;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute; /* This makes the game container div relative to its parent element */
}

.sky {
    background-color: lightblue;
    width: 500px;
    height: 580px;
    position: absolute; /* This makes the sky div relative to its parent element */
}

.ground {
    background-color: brown;
    width: 500px;
    height: 150px; /* Value chosen based off remaining space left available. game container height minus sky height. */
    position: absolute; /* This makes the ground div relative to its parent element */
    top: 580px; /* give spcaing between top of element, and top of parent element the div is in */
}

.bird {
    background-color: yellow;
    height: 45px;
    width: 60px;
    position: absolute; 
}